/*Esta es el css para sobre nosotros*/
#seccion2{
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10%;
    margin-top: 5%;
    width: 100%;
}
/*Tamaño de div img*/
#div_img_sob{
    height: 40%;
    width: 60%;
}
/*Imagen sobre*/
#img_sobre{
    height: 100%;
    width: 100%;
}
#img_y_tex{
    display: flex;
    flex-direction: row;
    width: 60%;
    flex-wrap: wrap;
}
/*Maximo del texto*/
#tex{
    max-width: 494px;
}
#fot{
    width: 40%;
}
#img_sobre2{
    width: 100%;
}