
#seccion2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

#talla_etc{
    display: flex;
    justify-content: center;  
}
#padre{
    width: 100%;
    height:100%;
}
li{
    display:inline;
    margin-left: 50px;
}
li p{
    font-size: 30px;
    color: orangered;
}
.flecha{
    rotate: 90deg;
    width: 30px;
    height: 40px;
    margin-top: 10px;
}
ul button{
    margin: 0;
    gap: 20%;
}

#productos{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 30px;
    column-gap: 100px;
    align-items: center; 
    justify-content: center;
    margin: 5% 10% 5% 10%;

}
#productos p{
    color: rgb(255, 255, 255);
    margin: 0;
    font-size: 30px;
    font-family: 'Alata';
}

.produc{
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    background-color: rgba(126, 126, 126, 0.594);
    border: 1px solid #e67300;
}

.tex_pre{
    width:  80%; 
    padding: 10px;
    text-align: center;
}
.produc button{
    background-color: rgba(0, 0, 0, 0); 
    color: #fb4b29; 
    border-radius: 15px; 
    height: 10px;
    font-size: 10px; 
    margin: 0; 
    border: none;
}
#productos .gen{
    color: rgb(142, 142, 142);
    font-size: 10px;
}
.pre_cora{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.col_img{
    background: linear-gradient(#000000a7, #ffffff);   
    padding: 20px;
    border-radius: 10px 10px 0px 0px ;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
    
}
.fon{
    filter: drop-shadow(8px 8px 4px #00000097);
}
#productos a{
    
    border-radius: 10px;
    border: 1px solid rgb(255, 99, 3);
    background-color: black;
    
}
#productos a:hover{
    background-color: #fb4b29;
}
#productos a:hover h2{
    color: rgb(255, 255, 255);
}
.pre{
    display: flex;
    height: 100%;
    justify-content: end;
}