#seccion2{
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    margin-left: 30px;
    justify-content: space-between;
    width:  100%;
}
#padre{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

}

h2{
    margin: 0;
    text-align: start;
    font-weight: bold;
    font-size: 90px;
    font-family: 'Futura XBlk BT', sans-serif;
    text-shadow: 0 1px 0 #ffd6ae, 
                 0 2px 0 #ffd6ae,
                 0 3px 0 #ffd6ae,
                 0 4px 0 #ffd6ae,
                 0 5px 0 #ffd6ae,
                 0 6px 1px rgba(0,0,0,.1),
                 0 0 5px rgba(0,0,0,.1),
                 0 1px 3px rgba(0,0,0,.3),
                 0 3px 5px rgba(0,0,0,.2),
                 0 5px 10px rgba(0,0,0,.25),
                 0 10px 10px rgba(0,0,0,.2),
                 0 20px 20px rgba(0,0,0,.15);
    color: #ffd6ae;
    -webkit-text-stroke: 1px black;
}
h3{
    margin: 0;
    text-align: start;
    font-weight: bold;
    font-size: 70px;
    font-family: 'Futura XBlk BT', sans-serif;
    text-shadow: 0 1px 0 #ffd6ae, 
                 0 2px 0 #ffd6ae,
                 0 3px 0 #ffd6ae,
                 0 4px 0 #ffd6ae,
                 0 5px 0 #ffd6ae,
                 0 6px 1px rgba(0,0,0,.1),
                 0 0 5px rgba(0,0,0,.1),
                 0 1px 3px rgba(0,0,0,.3),
                 0 3px 5px rgba(0,0,0,.2),
                 0 5px 10px rgba(0,0,0,.25),
                 0 10px 10px rgba(0,0,0,.2),
                 0 20px 20px rgba(0,0,0,.15);
    color: #ffd6ae;
    -webkit-text-stroke: 1px black;
}
button{
    margin: 0;
}
.botones{
    background-color: black;
    color: #fb4b29;
    border-radius: 15px;
    height: 100%;
    padding: 10px;
    font-size: 15px;
    margin: 0;
    border: 2px solid #fb4b29;
}
.botones:hover{
    color: aliceblue;
    background-color: #fb4b29;
}
#jordan{
    transform:rotate(-30deg);
}

#zapatilla{
    width: 50%;
    display: flex;
    flex-direction: row;
}
#casa{
    height: 266px;
    width: 500px;
}
#zapatilla p{
    text-align: center;
    margin: 0;
    font-size:medium;
    font-family: 'Graduate', sans-serif;
}

#padre_precio_texto{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 5px;
    text-align: center;
    
}
#padre_zapatillas_circulos_precio{
    display: flex;
    flex-direction: row;
}
#precio_estre{
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5px;
}
#circulos{
    display: flex;
    flex-direction: column;
    margin: 0;
    justify-content: center;
}




#padre2_main{
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}

#productos{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
    margin-top: 15%;
    align-items: center; 
    justify-content: center;
}
#productos p{
    margin: 0;
    font-size: 15px;
    font-family: 'Graduate', sans-serif;
}

.produc{
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    background-color: rgba(136, 137, 139, 0.591);
    border: #fb4b29 1px solid;
    padding: 10px;
    gap: 10px;
}

#tex_pre{
    width:  60%; 
    padding: 10px;
}
.produc button{
    background-color: rgba(0, 0, 0, 0); 
    color: #fb4b29; 
    border-radius: 15px; 
    height: 10px;
    font-size: 10px; 
    margin: 0; 
    border: none;
}
#productos .gen{
    color: rgb(142, 142, 142);
    font-size: 10px;
    margin-bottom: 10px;
}
.pre_cora{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.col_img{
    background-color: #77777700;
    width:  40%;
    border-radius: 10px 0px 0px 10px;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
}
#productos a{  
    border-radius: 10px;
    border: 1px solid rgb(255, 99, 3);
    background-color: black;
    font-family: 'Graduate', sans-serif;
}
#productos a:hover{
    background-color: #fb4b29;
}
#productos a p{
    color: rgb(255, 116, 17);
}
#productos a:hover p{
    color: rgb(255, 255, 255);
}
@media (max-width: 1250px) {
    #jordan{
        height:200px;
        width: 330px;
    }
    #casa{
        height: 200px;
        width: 373px;
        margin-top: 40px;
    }
    #zapatilla p{
        font-size:small;
    }  
}
@media (max-width: 977px) {
    #jordan{
        height:160px;
        width: 280px;
    }
    #casa{
    height: 161px;
    width: 320px;
    margin-top: 60px;
    margin-left: -80px;
    }
    #zapatilla p{
        font-size:x-small;
    }  
}