/*Esto es el ccs de login*/
header{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5%;
}

main{
    display: flex;
    align-items: center;
    justify-content: center;
}
/*Esto es el div padre*/
#todo{
    max-width: 1000px;
    height: 439px;
    background-color: rgb(240, 255, 255);
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
#for{
    width: 40%;
    height: 100%;
}
/*Foto*/
#fotlog{
    width: 100%;
    border-radius: 20px 0px 0px 20px ;

}
/*Texto*/
#tex{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 60%;
    height: 100%;
    gap: 20px;
}
#texto{
    text-align: center;
    max-width: 400px;
}
/*input*/
input{
    background-color: rgba(255, 86, 29, 0.66);
    border-radius: 5px;
    height: 25px;
}